[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 15.0

[submodule "OCA/purchase-workflow_cjn"]
	path = OCA/purchase-workflow_cjn
	url = git@github.com:OCA/purchase-workflow.git
	branch = 15.0
