[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 15.0

[submodule "OCA/purchase-workflow_cjn"]
	path = OCA/purchase-workflow_cjn
	url = git@github.com:OCA/purchase-workflow.git
	branch = 15.0

[submodule "camptocamp/smartcamp_core"]
	path = camptocamp/smartcamp_core
	url = git@github.com:camptocamp/smartcamp_core.git
	branch = 15.0
